# Saved numpy objects
*.npy

# The numpy_objs folder
/numpy_objs/

# Sublime projects
*.sublime-project

# Sublime workspaces
*.sublime-workspace

# Images
*.png

# The plots folder
/plots/

# Don't need to track server jobs
*.sh

# Don't need _pycache_ folder
__pycache__/**